
/* ADD YOUR STYLES HERE */

.heading {
  margin-top: 30px;
  /*margin-bottom: 20px;*/
}

#github {
  text-align: center;
}

h4{
  font-size: 16px;
  margin-top: 10px;
  text-align: center;
  font-style: italic;
}

#alg-info{
  padding-left: 50px;
}

h1 {
  width:100%;
  text-align:center;
  border-bottom: 2px solid #eaeaea;
  /*line-height:0.1em;*/
  /*font-size: 18px;*/
  /*margin: 40px 0 0 0;*/
}

h1 span { 
  /*background: #2d4a77;*/
  /*color: #fff;*/
  /*border: 12px solid #fff;*/
  /*padding: 5px 10px;*/
  /*text-transform: uppercase;*/
  /*font-weight: 400;*/
}

#statistics {
  background-color: #efefef;
  min-height: 200px;
}

.about-text {
  padding-bottom: 50px;
  padding-top: 30px;
  border-bottom: 1px solid #ddd
  /*margin-bottom: 20px;*/
}

/* CHARTS */

.chart-and-info {
  margin-top: 20px;
  border-bottom: 1px solid #ddd;
  margin-bottom: 20px;
}

/*.bar {*/
  /*fill: steelblue;*/
/*}*/

.bar-label {
  fill: #888;
  font-size: 12px;
}

.axis {
  font: 14px sans-serif;
}

.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.barchart .y-axis path {
  display: none;
}

#timeline .area {
  fill: steelblue;
}

#timeline .axis path,
#timeline .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.brush .extent{
  stroke: #fff;
  fill-opacity: .125;
  shape-rendering: crispEdges;
}


.tooltip-title {
  display: block;
  margin-bottom: 5px;
  font-weight: 600;
}

.d3-tip {
  line-height: 1;
  padding: 6px;
  background: rgba(0, 0, 0, 0.8);
  /*color: #fff;*/
  border-radius: 4px;
  font-size: 12px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips specifically */
.d3-tip.n:after {
  margin: -2px 0 0 0;
  top: 100%;
  left: 0;
}
